  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  body {
    background-color: #E2F6CA; /* Cambia este color si deseas otro */
  }

  .main-menu {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #052318;
  }

  .content {
    height: 100%;
  }

  .nav-text {
    color: #ffffff;
    text-decoration: none;
  }  

  /* Estilos para el formulario de inicio de sesión */
  .login-form {
    background-color: #F9F6F2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vh; /* Ajusta el ancho del formulario */
    margin-right: auto; /* Centra el formulario en el lado derecho */
  }

  /* Ajusta el tamaño del contenedor principal */
  .container {
    height: 100vh;
  }

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  /* Ajusta el ancho de los campos de entrada */
  .login-form input {
    width: calc(90% - 100px); /* Ajusta el ancho del input con margen */
    margin-left: 90px;
  }

  /* Ajusta el ancho del botón de iniciar sesión */
  .login-form button {
    width: calc(90% - 100px); /* Ajusta el ancho del botón con margen */
    margin-left: 90px; /* Añade un margen izquierdo para separar del input */
    background-color: #22634C;
  }

  .login-image {
    width: 100%;
    display: block; /* Para centrar la imagen */
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
  }