.modal {
    display: block;

    .modal-content {
        width: 30%;
        min-width: 550px;

        .modal-header { 
            width: auto;
              
            .title {
                display: inline-block;   
                width: 50%;
            }
        
            .closed {
                display: inline-flex;
                width: 45%;
                justify-content: right;
                
                a {
                    color: #cc0605;
                    cursor: pointer;
                    font-size: 20px;
        
                    &:hover {
                        color: #f20805;
                    }
                }
        
            }
        } 
        
        .modal-body {
            display: flex;
            justify-content: center;
    
            table {
                margin-top: 15px;
                margin-bottom: 15px;
                border-width: 1px;
                border-spacing: 0px;
                border-style: solid;
                border-collapse: separate;
                background-color: #fff;

                thead {
                    tr > td {
                        text-align: center;
                        padding: 10px;
                    }
                }
            
                tr, td {
                    border-width: 1px;
                    padding: 5px;
                    border-style: solid;
                    border-color: black;
                    background-color: #fff;
            
                }
    
                thead tr td{
                    background-color: #0d4755;
                    color: #fff;
                }
            }
    
            .status {
                font-size: small;
                color: #d9d9d9;
                
                i {
                    border-radius: 15px;
                    border-style: none;
                    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
                }
            }
    
            .pagado {
                color: #00a135;
            }
    
            .pendiente {
                color: #e5be01;
            }
    
            .atrasado {
                color: #cc0605;
            }
        }   

    }   
}