@import url(../css/global.css);

.content {
    width: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 20%);
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    .content-img {
        display: flex;
        justify-content: center;

        img {
            width:250px;
            height: auto;
        }

        p {
            .logos {
                width: 60px;
                height: auto;
            }
            .logos2 {
                width: 120px;
                height: auto;
            }
            .logos3 {
                width: 100px;
                height: auto;                
            }
        }
    }
}



.content-btn {
    display: block ruby;
    
    a {
        display: block;
        min-width: 100px;
        min-height: auto;
        background-color: #0d4755;
        border-style:solid;
        border-width: 1px;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    
        &:hover { background-color: #3e8692;}
    }

    form {
        width: 80%;
        display: flex;
        justify-content: right;

        button {
            display: block;
            background-color: #3e8692;
            color: #fff;
            border-style: none;
            border-radius: 10px;
            padding: 10px 20px;

            &:hover {background-color: #387984;}
        }
    }
}