@import url(../css/global.css);
.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-area: repeat(4, 1fr);
  grid-template-areas: "massage massage massage massage massage" "header header header header header" "body body body body body" "body body body body body"; }
  .content .massage {
    grid-area: massage;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); }
    .content .massage p {
      padding: 10px;
      border-radius: 10px; }
    .content .massage .bg-error {
      color: #fff; }
  .content header {
    display: flex;
    grid-area: header;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); }
    .content header .img {
      display: inline-flex;
      width: 15%;
      min-width: 150px;
      padding: 10px;
      justify-content: center; }
      .content header .img img {
        width: 150px;
        height: 150px;
        border-radius: 50%; }
    .content header .title {
      display: inline-flex;
      width: 85%;
      padding: 10px;
      align-items: center; }
      .content header .title h1 {
        font-size: 20px; }
  .content .body {
    grid-area: body;
    margin-top: 20px;
    height: 70vh;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); }
    .content .body .info {
      padding: 0 10px; }
      .content .body .info > span {
        color: #0d4755; }
    .content .body .content-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0; }
      .content .body .content-buttons a {
        font-family: 'Antic Didone';
        font-weight: bold;
        width: 130px;
        padding: 10px;
        margin-left: 10px;
        font-size: small;
        border-radius: 10px;
        border-style: solid;
        border-color: #0d4755;
        border-width: 1px;
        background-color: #46808a;
        color: #fff;
        text-align: center;
        text-decoration: none; }
        .content .body .content-buttons a:hover {
          background-color: #0d4755; }
        .content .body .content-buttons a span {
          display: block; }
        .content .body .content-buttons a i {
          font-size: 20px; }
    .content .body h4 {
      margin-bottom: 10px;
      padding: 0 10px; }
    .content .body .movimientos {
      width: 100%;
      max-height: 220px;
      overflow: auto; }
      .content .body .movimientos .data {
        padding: 10px;
        color: #fff; }
      .content .body .movimientos table {
        border-style: none; }
      .content .body .movimientos tr, .content .body .movimientos td {
        border-style: none; }
      .content .body .movimientos thead > tr > td {
        background-color: #3e8692; }
      .content .body .movimientos tbody tr, .content .body .movimientos tbody td {
        border-bottom: solid 1px #3e8692; }
      .content .body .movimientos tbody .informacion {
        width: 100%; }
        .content .body .movimientos tbody .informacion .cargo {
          width: 100%;
          font-size: 18px;
          text-transform: lowercase; }
          .content .body .movimientos tbody .informacion .cargo:first-letter {
            text-transform: uppercase; }
      .content .body .movimientos tbody .cant {
        font-size: large; }
        .content .body .movimientos tbody .cant .menos {
          font-size: medium;
          color: #cc0605 !important; }
        .content .body .movimientos tbody .cant .mas {
          font-size: medium;
          color: #00a135 !important; }

.modal-body span {
  display: block;
  font-size: 12px;
  margin-bottom: 10px; }
.modal-body input[type=text], .modal-body input[type=number] {
  border-style: none;
  border-bottom: 1px solid;
  border-color: #000;
  background-color: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
  margin-bottom: 10px; }
.modal-body .error {
  margin-top: 10px;
  background-color: #cc05056b !important;
  padding: 0px 10px;
  border-radius: 10px;
  color: #000;
  border-bottom-color: #cc0605 !important;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset; }
.modal-body .cant-error {
  background-color: #cc05056b !important;
  border-radius: 10px;
  padding-left: 10px;
  color: #000;
  border-bottom-color: #cc0605;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset; }
.modal-body .content-button {
  display: flex;
  justify-content: right; }
.modal-body input[type=number] {
  appearance: textfield; }
.modal-body .btn-Success {
  margin-left: 10px;
  background-color: #3e8692;
  border-color: #000;
  border-style: solid;
  border-width: 1px; }
  .modal-body .btn-Success:hover {
    background-color: #0d4755; }
.modal-body select {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  padding: 8px 10px;
  border: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff; }
.modal-body .content-form {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  .modal-body .content-form select {
    width: 50%;
    height: 100%; }
  .modal-body .content-form input {
    width: 30%;
    min-width: 170px;
    height: 34px;
    border-color: #c18700; }
  .modal-body .content-form span[data-descr] {
    display: initial;
    width: 20px;
    height: 20px;
    position: relative;
    text-decoration: underline;
    color: #000;
    top: 11px;
    right: 23px;
    cursor: help; }
    .modal-body .content-form span[data-descr]:hover::after, .modal-body .content-form span[data-descr]:focus::after {
      content: attr(data-descr);
      position: absolute;
      left: 0;
      top: 24px;
      min-width: 205px;
      border: 1px #aaaaaa solid;
      border-radius: 10px;
      background-color: #e5e5e5;
      padding: 12px;
      color: #000000;
      font-size: 14px;
      z-index: 1; }
    .modal-body .content-form span[data-descr] i {
      font-size: medium; }
.modal-body .content-input {
  width: 100%;
  display: none;
  justify-content: center; }
  .modal-body .content-input label {
    display: block;
    margin-bottom: 10px; }
  .modal-body .content-input span {
    display: inline !important;
    font-size: medium; }

.modal-header {
  width: auto; }
  .modal-header .title {
    display: inline-block;
    width: 50%; }
  .modal-header .closed {
    display: inline-flex;
    width: 45%;
    justify-content: right; }
    .modal-header .closed a {
      color: #cc0605;
      cursor: pointer;
      font-size: 20px; }
      .modal-header .closed a:hover {
        color: #f20805; }

.modal {
  display: block; }

.activo {
  display: block !important; }

.inactivo {
  display: none !important; }

#Importe, #Destinatario, #Motivo, #nuevo {
  display: none; }
  #Importe h3, #Destinatario h3, #Motivo h3, #nuevo h3 {
    padding-bottom: 10px; }

.guardados {
  padding: 10px; }
  .guardados label {
    display: block;
    padding: 10px;
    border-style: none;
    margin-bottom: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    cursor: pointer; }
  .guardados input[type=radio] {
    display: contents;
    visibility: hidden;
    width: 0px;
    height: 0px; }
    .guardados input[type=radio]:checked + label {
      background-color: #3e8692;
      color: #fff; }
  .guardados .disable + label {
    display: none !important; }

/*# sourceMappingURL=cliente.css.map */
