@import url(https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css);
@import url(../css/nav.css);
@import url(../css/modal.css);
* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'Antic Didone';
  src: url("../fonts/Antic_Didone.ttf"); }
body {
  background-color: #e5e5e5;
  font-family: "Antic Didone" !important;
  font-weight: bold; }

.Messeges-Error {
  background-color: #cc0605;
  color: #fff;
  padding: 15px; }

.Messeges-Info {
  background-color: #0096d2;
  color: #fff;
  padding: 15px; }

.Messeges-Success {
  background-color: #00a135;
  color: #fff;
  padding: 15px; }

.Messeges-Warning {
  background-color: #e5be01;
  color: #fff;
  padding: 15px; }

.text-Error {
  color: #cc0605; }

.text-Info {
  color: #0096d2; }

.text-Success {
  color: #00a135; }

.text-Warning {
  color: #e5be01; }

.bg-Error {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #cc0605;
  color: #fff;
  padding: 12px;
  text-align: center; }

.bg-Info {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #0096d2;
  color: #fff;
  padding: 12px;
  text-align: center; }

.bg-Success {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #00a135;
  color: #fff;
  padding: 12px;
  text-align: center; }

.bg-Warning {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #e5be01;
  color: #fff;
  padding: 12px;
  text-align: center; }

.mb-1 {
  display: block;
  margin-bottom: 10px; }

.mb-2 {
  display: block;
  margin-bottom: 20px; }

.mb-3 {
  display: block;
  margin-bottom: 30px; }

.mb-4 {
  display: block;
  margin-bottom: 40px; }

.mt-1 {
  display: block;
  margin-top: 10px; }

.mt-2 {
  display: block;
  margin-top: 20px; }

.mt-3 {
  display: block;
  margin-top: 30px; }

.mt-4 {
  display: block;
  margin-top: 40px; }

.bg-primary {
  background-color: #c18700; }

.bg-secondary {
  background-color: #0d4755; }

.bg-lightblue {
  background-color: #3e8692; }

.bg-brown {
  background-color: #8e4b05; }

.bg-green {
  background-color: #102117; }

.bg-body {
  background-color: #e5e5e5; }

.bg-success {
  background-color: #00a135; }

.bg-error {
  background-color: #cc0605; }

.bg-warning {
  background-color: #e5be01; }

.btn-Error {
  display: inline-block;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #cc0605;
  border-style: none;
  border-radius: 10px; }

.btn-Info {
  display: inline-block;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #0096d2;
  border-style: none;
  border-radius: 10px; }

.btn-Success {
  display: inline-block;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #00a135;
  border-style: none;
  border-radius: 10px; }

.btn-Warning {
  display: inline-block;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #e5be01;
  border-style: none;
  border-radius: 10px; }

.btn-Error:hover {
  background-color: #a60504; }

.btn-Info:hover {
  background-color: #0088be; }

.btn-Success:hover {
  background-color: #007a28; }

.btn-Warning:hover {
  background-color: #d1ae01; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.btn {
  display: inline-block;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer; }

.center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

#paginas ul {
  margin: 10px 0;
  padding: 0; }
#paginas li {
  display: inline-block;
  margin: 0;
  padding: 5px; }
  #paginas li a {
    background: #e4e4e4;
    border: solid black 1px;
    color: #323232;
    padding: 5px 15px;
    text-decoration: none; }
#paginas .actual {
  background: #14457c !important;
  color: #fff !important; }

table {
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-collapse: separate;
  background-color: #fff; }
  table tr, table td {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    background-color: #fff; }
  table thead tr > td {
    text-align: center;
    padding: 10px; }
  table tr, table td {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    background-color: #fff; }
  table thead tr td {
    background-color: #0d4755;
    color: #fff; }

/*# sourceMappingURL=global.css.map */
